# Dependencies
node_modules/

# Environment variables
.env
*.env

# Build files
dist/
build/
.vite/

# Logs
*.log

# Uploaded files
uploads/
Frontend/uploads/
Backend/uploads/

# OS files
.DS_Store
Thumbs.db
Backend/server/Password .txt